.movie-title__card {
  font-weight: bold;
  font-size: 20px;
  margin-top: -12px;
}

.movie-cards {
  margin-top: 10px;
  place-self: center;
}

.movie-cards__item {
  width: 15rem;
  height: 38rem;
}

.more-details {
  position: absolute;
  bottom: 10px;
  left: 60px;
}

.more-details:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

.grid {
  margin-top: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: baseline;
}

.filter {
  margin-top: 69px;
  text-transform: capitalize;
}

.card-text {
  margin-top: -10px;
}
