.movie-title__card {
  font-weight: bold;
  font-size: 30px;
  margin-top: -12px;
}

.movie-cards {
  margin-top: 10px;
  place-self: center;
  transition: ease .3s;
}

.movie-cards__item {
  width: 300px;
}

.more-details {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.more-details:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

.grid {
  margin-top: 11px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  .movie-cards {
    margin: 10px auto;
  }
}

.filter {
  margin-top: 69px;
  text-transform: capitalize;
}

.card-text {
  margin-top: 20px;
}

.card-body {
  position: absolute;
  background: #343a40ce;
  height: 100%;
  animation: fadeIn ease .4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
