.movie-title {
	font-weight: bold;
	font-size: 22px;
}

.movie-cards {
	margin-top: 10px;
	place-self: center;
}

.more-details {
	position: absolute;
	top: 555px;
}

.more-details:hover {
	color: white;
	text-decoration: none;
	background-color: black;
}

.grid {
	margin-top: 11px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: baseline;
}

.filter {
	margin-top: 69px;
	text-transform: capitalize;
}
