body {
	justify-content: center;
	align-items: center;
	background-color: rgb(187, 187, 187);
	margin: 10px;
}

.main-view {
	display: flex;
	justify-content: center;
}

form {
	width: 75%;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(187, 187, 187);
	margin: 10px;
}

.login-button {
	width: -webkit-fill-available;
	margin-bottom: 10px;
}

.navbar {
	width: 100%;
}

.mov {
	display: table;
	max-width: 250px;
}

.login-title {
	display: flex;
	justify-content: center;
}

.form-group {
	margin-bottom: 5px;
}

.form-validation {
	color: red;
	outline-color: black;
	-webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

.form-validation__good {
	color: rgb(255, 255, 255);
}
