.delete-profile {
	position: absolute;
	background: #343a40;
	top: 13%;
	padding: 50px;
	color: white;
	border-radius: 35px;
	text-align: center;
	width: -webkit-fill-available;
	max-width: 794px;
}

ul {
	justify-content: center;
}
